In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from pandas_profiling import ProfileReport

In [2]:
loc_file = r'C:\Users\sbhayat\Desktop\TIDE\Scoring\autorisations.csv'
df = pd.read_csv(loc_file,sep=",")

In [3]:
#afficher toutes les colonnes du DataFrame
pd.set_option('display.max_columns', None)

In [4]:
df.head()

,Carte,Pays,Date,Heure,dateheure,CodeRep,MCC,Montant,fraude,FM_Velocity_Condition_3,FM_Velocity_Condition_6,FM_Velocity_Condition_12,FM_Velocity_Condition_24,FM_Sum_3,FM_Sum_6,FM_Sum_12,FM_Sum_24,FM_Redondance_MCC_3,FM_Redondance_MCC_6,FM_Redondance_MCC_12,FM_Redondance_MCC_24,FM_Difference_Pays_3,FM_Difference_Pays_6,FM_Difference_Pays_12,FM_Difference_Pays_24
0,0,840,02/12/2003,17:47:52,02/12/2003,15,5812,69.25,0,0,0,0,0,69.25,69.25,69.25,69.25,1,1,1,1,1,1,1,1
1,1,158,25/11/2003,06:00:20,25/11/2003,15,5311,1.00,0,0,0,0,0,1.00,1.00,1.00,1.00,1,1,1,1,1,1,1,1
2,2,826,12/11/2003,14:10:57,12/11/2003,15,5211,516.95,0,0,0,0,0,516.95,516.95,516.95,516.95,1,1,1,1,1,1,1,1
3,3,840,07/11/2003,03:41:55,07/11/2003,14,7399,0.01,0,0,0,0,0,0.01,0.01,0.01,0.01,1,1,1,1,1,1,1,1
4,4,158,23/11/2003,05:07:03,23/11/2003,15,5311,1.00,0,0,0,0,0,1.00,1.00,1.00,1.00,1,1,1,1,1,1,1,1

In [5]:
df.columns

Index(['Carte', 'Pays', 'Date', 'Heure', 'dateheure', 'CodeRep', 'MCC',
       'Montant', 'fraude', 'FM_Velocity_Condition_3',
       'FM_Velocity_Condition_6', 'FM_Velocity_Condition_12',
       'FM_Velocity_Condition_24', 'FM_Sum_3', 'FM_Sum_6', 'FM_Sum_12',
       'FM_Sum_24', 'FM_Redondance_MCC_3', 'FM_Redondance_MCC_6',
       'FM_Redondance_MCC_12', 'FM_Redondance_MCC_24', 'FM_Difference_Pays_3',
       'FM_Difference_Pays_6', 'FM_Difference_Pays_12',
       'FM_Difference_Pays_24'],
      dtype='object')

In [6]:
df.shape

(1151432, 25)

In [7]:
df.dtypes

Carte                         int64
Pays                          int64
Date                         object
Heure                        object
dateheure                    object
CodeRep                       int64
MCC                           int64
Montant                     float64
fraude                        int64
FM_Velocity_Condition_3       int64
FM_Velocity_Condition_6       int64
FM_Velocity_Condition_12      int64
FM_Velocity_Condition_24      int64
FM_Sum_3                    float64
FM_Sum_6                    float64
FM_Sum_12                   float64
FM_Sum_24                   float64
FM_Redondance_MCC_3           int64
FM_Redondance_MCC_6           int64
FM_Redondance_MCC_12          int64
FM_Redondance_MCC_24          int64
FM_Difference_Pays_3          int64
FM_Difference_Pays_6          int64
FM_Difference_Pays_12         int64
FM_Difference_Pays_24         int64
dtype: object

In [8]:
info_df_num =df.describe()
info_types = pd.DataFrame(df.dtypes)

In [9]:
#variables numériques

nb_nan = []
nb_distincts =[]
for v in info_df_num.columns.tolist():
    nb_nan.append(df[v].isnull().sum())
    nb_distincts.append(len(set(df[v])))
    
info_df_num_2 = pd.DataFrame()
info_df_num_2 ["variables"] = info_df_num.columns.tolist()
info_df_num_2["Nb value distinct"] = nb_distincts
info_df_num_2["Nb value missing"] = nb_nan 
info_df_num_2["%Modalité_missing"] = info_df_num_2["Nb value missing"]/len(df)

print(info_df_num_2)

                   variables  Nb value distinct  Nb value missing  \
0                      Carte             198044                 0
1                       Pays                167                 0
2                    CodeRep                 15                 0
3                        MCC                661                 0
4                    Montant              81202                 0
5                     fraude                  2                 0
6    FM_Velocity_Condition_3                 47                 0
7    FM_Velocity_Condition_6                 82                 0
8   FM_Velocity_Condition_12                111                 0
9   FM_Velocity_Condition_24                130                 0
10                  FM_Sum_3             109836                 0
11                  FM_Sum_6             115524                 0
12                 FM_Sum_12             121192                 0
13                 FM_Sum_24             134264                 0
14       FM_Redondance_MCC_3                 39                 0
15       FM_Redondance_MCC_6                 39                 0
16      FM_Redondance_MCC_12                 46                 0
17      FM_Redondance_MCC_24                 59                 0
18      FM_Difference_Pays_3                 10                 0
19      FM_Difference_Pays_6                 15                 0
20     FM_Difference_Pays_12                 15                 0
21     FM_Difference_Pays_24                 17                 0

    %Modalité_missing
0                 0.0
1                 0.0
2                 0.0
3                 0.0
4                 0.0
5                 0.0
6                 0.0
7                 0.0
8                 0.0
9                 0.0
10                0.0
11                0.0
12                0.0
13                0.0
14                0.0
15                0.0
16                0.0
17                0.0
18                0.0
19                0.0
20                0.0
21                0.0

Pas de valeurs manquantes Changer code pays en code binaire : France/étranger ? Transformer CodeRep en binaire : 1 si autorisé, 0 sinon Pour les autres variables, besoin de transformer ? Sum : plusieurs catégories : Sum faible, élevé, moyenne ?

In [10]:
list_var_cat = info_types[info_types[0]=="object"].index.tolist()

info_df_cat = pd.DataFrame()
nb_nan = []
nb_distincts =[]
for v in list_var_cat :
    nb_nan.append(df[v].isnull().sum())
    nb_distincts.append(len(set(df[v])))
    
info_df_cat["variables"] = list_var_cat
info_df_cat["Nb value distinct"] = nb_distincts
info_df_cat["Nb value missing"] = nb_nan

print(info_df_cat)

   variables  Nb value distinct  Nb value missing
0       Date                243                 0
1      Heure              85697                 0
2  dateheure                243                 0

### Encodage CodeRep

In [11]:
df["CodeRep"].value_counts()

0     1080453
2       38784
57      14260
7        9437
5        2182
56       2152
94       1750
54       1313
41        289
96        223
98        221
43        199
30         85
15         83
14          1
Name: CodeRep, dtype: int64

In [12]:
df["CodeRep2"]=np.where(df["CodeRep"] == 0,1,0)

### Encodage Pays

In [13]:
df.groupby(["Pays"])["fraude"].sum().sort_values(ascending=False)

Pays
724    1245
826     954
840     922
380     711
56      545
       ...
308       0
288       0
275       0
268       0
999       0
Name: fraude, Length: 167, dtype: int64

voir ratio (nb de fraude/nb de transactions)

clustering pour identifier les groupes de pays qui ont plus de risque de fraude

Clustering de Aless High risk countries : Australia (36), Brasil (76), Turkey (792), India (356), Costa Rica (188), Philippines (608), Taiwan (158), Guatemala (320), Ecuador (218), Venezuela (862)

In [14]:
df["Pays_a_risque"]=np.where(df["Pays"].isin([36,76,792,365,188,608,158,320,218,862]), 1, 0)

In [15]:
df.head()

,Carte,Pays,Date,Heure,dateheure,CodeRep,MCC,Montant,fraude,FM_Velocity_Condition_3,FM_Velocity_Condition_6,FM_Velocity_Condition_12,FM_Velocity_Condition_24,FM_Sum_3,FM_Sum_6,FM_Sum_12,FM_Sum_24,FM_Redondance_MCC_3,FM_Redondance_MCC_6,FM_Redondance_MCC_12,FM_Redondance_MCC_24,FM_Difference_Pays_3,FM_Difference_Pays_6,FM_Difference_Pays_12,FM_Difference_Pays_24,CodeRep2,Pays_a_risque
0,0,840,02/12/2003,17:47:52,02/12/2003,15,5812,69.25,0,0,0,0,0,69.25,69.25,69.25,69.25,1,1,1,1,1,1,1,1,0,0
1,1,158,25/11/2003,06:00:20,25/11/2003,15,5311,1.00,0,0,0,0,0,1.00,1.00,1.00,1.00,1,1,1,1,1,1,1,1,0,1
2,2,826,12/11/2003,14:10:57,12/11/2003,15,5211,516.95,0,0,0,0,0,516.95,516.95,516.95,516.95,1,1,1,1,1,1,1,1,0,0
3,3,840,07/11/2003,03:41:55,07/11/2003,14,7399,0.01,0,0,0,0,0,0.01,0.01,0.01,0.01,1,1,1,1,1,1,1,1,0,0
4,4,158,23/11/2003,05:07:03,23/11/2003,15,5311,1.00,0,0,0,0,0,1.00,1.00,1.00,1.00,1,1,1,1,1,1,1,1,0,1

In [16]:
# ajout variable IMF
continents = pd.read_excel("continents.xlsx", index_col = "Code numérique")

In [17]:
df["Continent"] = df['Pays'].map(continents["Continent"])

In [19]:
df["Continent"] = np.where(df["Pays"]==891, 'Europe', df["Continent"])
df["Continent"] = np.where(df["Pays"]==530, 'Amérique du Nord', df["Continent"])
df["Continent"] = np.where((df["Pays"]==999)|(df["Pays"]==900), 'Unknown', df["Continent"])

In [21]:
summa= df.groupby("Pays").sum()[["fraude"]]
summa.sort_values(by="fraude")

      fraude
Pays
8          0
508        0
498        0
496        0
492        0
...      ...
56       545
380      711
840      922
826      954
724     1245

[167 rows x 1 columns]

In [22]:
summa['FD'] = summa.index.map(continents["FD"])

In [25]:
df["FD"] = df['Pays'].map(continents["FD"])

In [26]:
df["FD"] = np.where((df["FD"].isna()) & (df["Continent"]=='Europe'), 0.502679705619812, df["FD"])
df["FD"] = np.where((df["FD"].isna()) & ((df["Continent"]=='Asie')|(df["Continent"]=='Océanie')), 0.350481420755386, df["FD"])
df["FD"] = np.where((df["FD"].isna()) & (df["Continent"]=='Afrique'), 0.1582290828228, df["FD"])
df["FD"] = np.where((df["FD"].isna()) & ((df["Continent"]=='Amérique du Nord')|(df["Continent"]=='Amérique du Sud')), 0.324424803256989, df["FD"])
df["FD"] = np.where((df["FD"].isna()) & (df["Continent"]=='Unknown'), 0.319519817829132, df["FD"])

In [1]:
### Encodage heure et jour semaine

In [50]:
df["h_split"] = df["Heure"].str.split(':', expand=True)[0]
df["h_split"] = df["h_split"].astype(int)

In [51]:
df.groupby("h_split").sum()[["fraude"]].sort_values(by="fraude",ascending=False)

         fraude
h_split
17          522
16          506
19          475
15          475
12          474
18          466
14          458
13          401
20          392
11          355
21          330
10          289
23          276
22          257
0           224
9           203
1           201
2           193
3           150
8           134
4           127
7           123
6           114
5           101

Variable matin/aprem/soir

In [56]:
df.loc[(df["h_split"]>=6) & (df["h_split"]<12), "Parties_Jour"] = 'Matinée'
df.loc[(df["h_split"]>=12) & (df["h_split"]<18), "Parties_Jour"] = 'Après-midi'
df.loc[(df["h_split"]>=18) | (df["h_split"]<6), "Parties_Jour"] = 'Nuit'

In [64]:
df.head()

,Carte,Pays,Date,Heure,dateheure,CodeRep,MCC,Montant,fraude,FM_Velocity_Condition_3,FM_Velocity_Condition_6,FM_Velocity_Condition_12,FM_Velocity_Condition_24,FM_Sum_3,FM_Sum_6,FM_Sum_12,FM_Sum_24,FM_Redondance_MCC_3,FM_Redondance_MCC_6,FM_Redondance_MCC_12,FM_Redondance_MCC_24,FM_Difference_Pays_3,FM_Difference_Pays_6,FM_Difference_Pays_12,FM_Difference_Pays_24,CodeRep2,Pays_a_risque,Continent,FD,h_split,day_night,DateHeure,DT_fmt,wkday,weekday,Parties_Jour,Month
0,0,840,02/12/2003,17:47:52,02/12/2003,15,5812,69.25,0,0,0,0,0,69.25,69.25,69.25,69.25,1,1,1,1,1,1,1,1,0,0,Amérique du Nord,0.902009,17,1,02/12/2003 17:47:52,2003-12-02 17:47:52,1,1,Après-midi,12
1,1,158,25/11/2003,06:00:20,25/11/2003,15,5311,1.00,0,0,0,0,0,1.00,1.00,1.00,1.00,1,1,1,1,1,1,1,1,0,1,Asie,0.350481,6,0,25/11/2003 06:00:20,2003-11-25 06:00:20,1,1,Matinée,11
2,2,826,12/11/2003,14:10:57,12/11/2003,15,5211,516.95,0,0,0,0,0,516.95,516.95,516.95,516.95,1,1,1,1,1,1,1,1,0,0,Europe,0.898278,14,1,12/11/2003 14:10:57,2003-11-12 14:10:57,2,1,Après-midi,11
3,3,840,07/11/2003,03:41:55,07/11/2003,14,7399,0.01,0,0,0,0,0,0.01,0.01,0.01,0.01,1,1,1,1,1,1,1,1,0,0,Amérique du Nord,0.902009,3,0,07/11/2003 03:41:55,2003-11-07 03:41:55,4,1,Nuit,11
4,4,158,23/11/2003,05:07:03,23/11/2003,15,5311,1.00,0,0,0,0,0,1.00,1.00,1.00,1.00,1,1,1,1,1,1,1,1,0,1,Asie,0.350481,5,0,23/11/2003 05:07:03,2003-11-23 05:07:03,6,0,Nuit,11

In [68]:
df = pd.concat([df,pd.get_dummies(df[['Continent', 'Parties_Jour', 'Month']])],axis = 1)

In [69]:
df.head()

,Carte,Pays,Date,Heure,dateheure,CodeRep,MCC,Montant,fraude,FM_Velocity_Condition_3,FM_Velocity_Condition_6,FM_Velocity_Condition_12,FM_Velocity_Condition_24,FM_Sum_3,FM_Sum_6,FM_Sum_12,FM_Sum_24,FM_Redondance_MCC_3,FM_Redondance_MCC_6,FM_Redondance_MCC_12,FM_Redondance_MCC_24,FM_Difference_Pays_3,FM_Difference_Pays_6,FM_Difference_Pays_12,FM_Difference_Pays_24,CodeRep2,Pays_a_risque,Continent,FD,h_split,day_night,DateHeure,DT_fmt,wkday,weekday,Parties_Jour,Month,Month,Continent_Amérique du Nord,Continent_Amérique du Sud,Continent_Asie,Continent_Europe,Continent_Océanie,Continent_Unknown,Continent_nan,Parties_Jour_Matinée,Parties_Jour_Nuit,Parties_Jour_nan,Month,Month,Continent_Afrique,Continent_Amérique du Nord,Continent_Amérique du Sud,Continent_Asie,Continent_Europe,Continent_Océanie,Continent_Unknown,Parties_Jour_Après-midi,Parties_Jour_Matinée,Parties_Jour_Nuit
0,0,840,02/12/2003,17:47:52,02/12/2003,15,5812,69.25,0,0,0,0,0,69.25,69.25,69.25,69.25,1,1,1,1,1,1,1,1,0,0,Amérique du Nord,0.902009,17,1,02/12/2003 17:47:52,2003-12-02 17:47:52,1,1,Après-midi,12,12,1,0,0,0,0,0,0,0,0,0,12,12,0,1,0,0,0,0,0,1,0,0
1,1,158,25/11/2003,06:00:20,25/11/2003,15,5311,1.00,0,0,0,0,0,1.00,1.00,1.00,1.00,1,1,1,1,1,1,1,1,0,1,Asie,0.350481,6,0,25/11/2003 06:00:20,2003-11-25 06:00:20,1,1,Matinée,11,11,0,0,1,0,0,0,0,1,0,0,11,11,0,0,0,1,0,0,0,0,1,0
2,2,826,12/11/2003,14:10:57,12/11/2003,15,5211,516.95,0,0,0,0,0,516.95,516.95,516.95,516.95,1,1,1,1,1,1,1,1,0,0,Europe,0.898278,14,1,12/11/2003 14:10:57,2003-11-12 14:10:57,2,1,Après-midi,11,11,0,0,0,1,0,0,0,0,0,0,11,11,0,0,0,0,1,0,0,1,0,0
3,3,840,07/11/2003,03:41:55,07/11/2003,14,7399,0.01,0,0,0,0,0,0.01,0.01,0.01,0.01,1,1,1,1,1,1,1,1,0,0,Amérique du Nord,0.902009,3,0,07/11/2003 03:41:55,2003-11-07 03:41:55,4,1,Nuit,11,11,1,0,0,0,0,0,0,0,1,0,11,11,0,1,0,0,0,0,0,0,0,1
4,4,158,23/11/2003,05:07:03,23/11/2003,15,5311,1.00,0,0,0,0,0,1.00,1.00,1.00,1.00,1,1,1,1,1,1,1,1,0,1,Asie,0.350481,5,0,23/11/2003 05:07:03,2003-11-23 05:07:03,6,0,Nuit,11,11,0,0,1,0,0,0,0,0,1,0,11,11,0,0,0,1,0,0,0,0,0,1

In [31]:
#concaténer date et heure

df["DateHeure"]=df["Date"]+" "+df["Heure"]

In [32]:
from datetime import datetime

fmt = "%d/%m/%Y %H:%M:%S"
DT_fmt = []

for line in df["DateHeure"]:
    nv_fmt = datetime.strptime(line,fmt)
    DT_fmt.append(nv_fmt)

In [33]:
df["DT_fmt"]=DT_fmt

Extraction du jour de la semaine puis variable binaire pour weekday/weekend

In [34]:
wkday=[]

for line in df["DT_fmt"]:
    dte=datetime.date(line)
    day=dte.weekday()
    wkday.append(day)

In [35]:
df["wkday"]=wkday

,Carte,Pays,Date,Heure,dateheure,CodeRep,MCC,Montant,fraude,FM_Velocity_Condition_3,FM_Velocity_Condition_6,FM_Velocity_Condition_12,FM_Velocity_Condition_24,FM_Sum_3,FM_Sum_6,FM_Sum_12,FM_Sum_24,FM_Redondance_MCC_3,FM_Redondance_MCC_6,FM_Redondance_MCC_12,FM_Redondance_MCC_24,FM_Difference_Pays_3,FM_Difference_Pays_6,FM_Difference_Pays_12,FM_Difference_Pays_24,CodeRep2,Pays_a_risque,Continent,FD,h_split,day_night,DateHeure,DT_fmt,wkday
0,0,840,02/12/2003,17:47:52,02/12/2003,15,5812,69.25,0,0,0,0,0,69.25,69.25,69.25,69.25,1,1,1,1,1,1,1,1,0,0,Amérique du Nord,0.902009,17,1,02/12/2003 17:47:52,2003-12-02 17:47:52,1
1,1,158,25/11/2003,06:00:20,25/11/2003,15,5311,1.00,0,0,0,0,0,1.00,1.00,1.00,1.00,1,1,1,1,1,1,1,1,0,1,Asie,0.350481,06,0,25/11/2003 06:00:20,2003-11-25 06:00:20,1
2,2,826,12/11/2003,14:10:57,12/11/2003,15,5211,516.95,0,0,0,0,0,516.95,516.95,516.95,516.95,1,1,1,1,1,1,1,1,0,0,Europe,0.898278,14,1,12/11/2003 14:10:57,2003-11-12 14:10:57,2
3,3,840,07/11/2003,03:41:55,07/11/2003,14,7399,0.01,0,0,0,0,0,0.01,0.01,0.01,0.01,1,1,1,1,1,1,1,1,0,0,Amérique du Nord,0.902009,03,0,07/11/2003 03:41:55,2003-11-07 03:41:55,4
4,4,158,23/11/2003,05:07:03,23/11/2003,15,5311,1.00,0,0,0,0,0,1.00,1.00,1.00,1.00,1,1,1,1,1,1,1,1,0,1,Asie,0.350481,05,0,23/11/2003 05:07:03,2003-11-23 05:07:03,6

In [36]:
#attention dans wkday le 0 correspond à lundi 

df["weekday"]=np.where(df["wkday"].isin([0,1,2,3,4]), 1, 0)

In [ ]:
#Extraction mois

df["Month"] = df["DT_fmt"].dt.month

In [ ]:
## Analyse des variables

In [ ]:
ProfileReport(df)

In [ ]:
#Corrélation des variables
corrMatrix = df.corr()
corrMatrix

In [ ]:
sns.catplot(x=df['fraude'],kind="count",data=df);

In [ ]:
## Analyse variable cible et les autres variables

In [ ]:
# Analyse pour les variables numériques 
for v in info_df_num.columns.tolist():
    sns.displot(df, x=v, hue=df['fraude'],stat="density",common_norm=False)

# Split train/test

In [41]:
X=df.drop(["Carte","Pays","Heure","Date","dateheure","CodeRep","MCC","fraude","h_split","DateHeure","DT_fmt","wkday"], axis=1)
y=df["fraude"]

In [42]:
X.columns

Index(['Montant', 'FM_Velocity_Condition_3', 'FM_Velocity_Condition_6',
       'FM_Velocity_Condition_12', 'FM_Velocity_Condition_24', 'FM_Sum_3',
       'FM_Sum_6', 'FM_Sum_12', 'FM_Sum_24', 'FM_Redondance_MCC_3',
       'FM_Redondance_MCC_6', 'FM_Redondance_MCC_12', 'FM_Redondance_MCC_24',
       'FM_Difference_Pays_3', 'FM_Difference_Pays_6', 'FM_Difference_Pays_12',
       'FM_Difference_Pays_24', 'CodeRep2', 'Pays_a_risque', 'Continent', 'FD',
       'day_night', 'weekday'],
      dtype='object')

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y,test_size=0.3, stratify=Y)

In [ ]:
# Modélisation XGBoost

In [ ]:
from sklearn.model_selection import train_test_split
import xgboost as xgb